#logo {
    background-color: white;
    border-radius: 25%;
}

body {
    background-color: rgb(212, 211, 211);
}

a {
    color: rgb(212, 211, 211) !important;
}

.buy {
    background-color:rgb(154, 230, 68) !important;
    border-color: rgb(154, 230, 68) !important;
    position: absolute;
    top: 82%;
    left: 92%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

.card {
    border-color: rgb(212, 211, 211);
}

div p span {
    background-color: purple;
    padding: 5px;
    border-radius: 3px;
    color: white;
}
